<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newburger="{{devour}}">
		{{#if devour}}Devour! {{else}}Oops! Back on da wishlist!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>

</li>